# IDE and editor files
.idea
.vscode
*.swp

# Python cache and bytecode
__pycache__
*.py[cod]
*$py.class
*.so
.Python

config
configs
out
installs-cache.json
output
output.bak
cache*
tmp
data.json
pkg_entries.json
.DS_Store
actual_output
actual_configs
content-resolver-input
debug_*.json