<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %} Content Resolver {% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
    crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"
    integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

  <!-- Datatables test begin -->
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/datatables.net@2.3.8/js/dataTables.min.js"
    integrity="sha384-vKSHfmUIK/B5LfOmzrP+424efQhNcgZm+sqxgq/DNCicqQRp/V6pVc4HCaRzeQZw"
    crossorigin="anonymous"></script>
  <!-- Datatables test end -->

  <!-- Chart stuff start -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js"
    integrity="sha384-jb8JQMbMoBUzgWatfe6COACi2ljcDdZQ2OxczGA3bGNeWe+6DChMTBJemed7ZnvJ"
    crossorigin="anonymous"></script>
  <!-- Chart stuff end -->

  <!-- Calendar datepicker start -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.css" 
    integrity="sha384-RkASv+6KfBMW9eknReJIJ6b3UnjKOKC5bOUaNgIY778NFbQ8MtWq9Lr/khUgqtTt" 
    crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js" 
    integrity="sha384-5JqMv4L/Xa0hfvtF06qboNdhvuYXUku9ZrhZh3bSk8VXF0A/RuSLHpLsSV9Zqhl6" 
    crossorigin="anonymous"></script>
  <!-- Calendar datepicker end -->

  <script src="https://cdn.jsdelivr.net/npm/axios@1.18.1/dist/axios.min.js"
    integrity="sha384-7068mr5076h07c4xiJhMQYkkKke2zXmg44bCAB5ZSVNaM+eqoepYOy9/mRKdYulG"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="_static/feedback_pipeline.css">

  <link rel="icon" type="image/png" href="_static/favicon.png"/>

</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"><a style="color:white" href="./">Content Resolver</a></span>
    </div>
  </nav>
  {% block content %}{% endblock %}

  <div class="container-fluid runtime row">
    <div class="col ">
      Page refreshed at {{global_refresh_time_started}}.
    </div>
  </div>



  <div class="footer">
    <div class="container">
      <footer class="pt-4 pt-md-5">
        <div class="row">


          <div class="col-6 col-md">
            <h5>Content Resolver</h5>
            <ul class="list-unstyled text-small">
              <li>
                <a class="text-muted" href="https://github.com/fedora-eln/content-resolver">Code repository</a>
              </li>
              <li>
                <a class="text-muted" href="https://github.com/fedora-eln/content-resolver-input">Configuration</a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Fedora ELN</h5>
            <ul class="list-unstyled text-small">
              <li>
                <a class="text-muted" href="https://docs.fedoraproject.org/en-US/eln/">Fedora ELN Docs</a>
              </li>
              <li>
                <a class="text-muted" href="https://github.com/fedora-eln/eln/issues">Issue Tracker</a>
              </li>
            </ul>
          </div>

          <div class="col-6 col-md">
            <h5>Fedora Project</h5>
            <ul class="list-unstyled text-small">
              <li>
                <a class="text-muted" href="https://docs.fedoraproject.org/en-US/project/">About Fedora</a>
              </li>
              <li>
                <a class="text-muted" href="https://fedoraproject.org/">Get Fedora</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="_static/images/redhat.png">
            <small class="d-block mb-3 text-muted">Fedora is sponsored by Red Hat. <a
                href="https://www.redhat.com/en/technologies/linux-platforms/articles/relationship-between-fedora-and-rhel">Learn
                more about the relationship between Red Hat and Fedora »</a></small>
            <small class="d-block mb-3 text-muted">Copyright © 2026 Red Hat, Inc.</small>
          </div>
        </div>
      </footer>
    </div>
  </div>

</body>

</html>
